<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pacman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A03A2461DD779B400E4C8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A03A25D1DD779B500E4C8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A03A2681DD779B500E4C8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
